.container{
    width: 90vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    margin-top: 20px;
    background-color:rgba(66, 87, 33, 0.7);
    height: 110px;
}
label{
    font-size: 20px;
    padding: 5px;
}
#user{
    height: 180px;
}
.buttonsClass{
    display:flex;
    margin-left: 50%;
    padding-bottom: 2%;
    width:50%;
}
.buttonsClass button{
    display:inline-block;
    width:33%;
    height: 3em;
    margin: 10px;
}
.selected{
    border:2px solid white;
}